<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
<!-- FIXME: evaluate if we really need this library-->
<script src="https://unpkg.com/elm-pep"></script>

<app-main-topbar [title]="title" [username]="logedUser"></app-main-topbar>
<router-outlet></router-outlet>